@use "sass:color";

$break-point: 840px;
$phone-break-point: 600px;
$border-radius: 10px;
$bg-color: rgb(32, 150, 226);
$bg-linear-gradient: linear-gradient(
  90deg,
  rgba(32, 150, 226, 1) 0%,
  rgba(99, 187, 208, 1) 100%
);
$white: #fff;
$orange: #fc6b44;
$green: #0ed1a2;
$black: #010101;
$gray: #7d7d7d;

@mixin panel {
  border-radius: $border-radius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@mixin bug_border {
  border: 1px solid red;
}

// font sizes
$font-size: (
  title: 2.5rem,
  subtitle: 1.5rem,
  text: 1rem,
  small: 0.8rem,
);

// font weights
$font-weight: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
);
